<a href="https://colab.research.google.com/github/nainarbala/machinelearning/blob/main/ch1/machinelearning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# GitHub RAW URL (replace 'blob' with 'raw')
url = 'https://raw.githubusercontent.com/nainarbala/machinelearning/main/dataset/vgsales.csv'

# Read the CSV file directly from GitHub
df = pd.read_csv(url)

# Print the top 5 rows
print(df.head())

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [ ]:
print(df.EU_Sales)

0        29.02
1         3.58
2        12.88
3        11.01
4         8.89
         ...
16593     0.00
16594     0.00
16595     0.00
16596     0.01
16597     0.00
Name: EU_Sales, Length: 16598, dtype: float64